body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

form {
    margin: 20px;
}

input, button {
    margin: 5px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}


.instructions {
  margin: 40px;
  text-align: left;
  font-size: 1.0em;
  text-align: center
}