#myTable {
    margin: 0 auto;  /* align table to center */
    width: 95% !important;  /* set width of table to 80% of container */
}

#myTable td, #myTable th {
    text-align: center;
    width: 20%;  /* divide width equally among three columns */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center > * {
    margin: 10px;
}

.center h1 {
    font-size: 48px; /* change this to the size you want */
}