body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 0px;
}

#periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}


.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.element .triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 40px solid white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}


.element.selected {
  background-color: #ffa500;
}


.element-symbol {
  text-align: center;
  line-height: 0px;
  height:  0px;
  font-size: 20px; /* Adjust the font size for the symbol */
  color: #000; /* Set the color for the symbol */
  z-index: 2;
}


#selected-elements {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


#png-viewer {
  display: flex;
  justify-content: center;
}



#png-viewer-img {
  max-width: 160%;
  max-height: 1600px;
}
