body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2em; /* Adjust the font size as needed */
  margin: 20px 0; /* Add some margin for spacing */
}

#svg-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* 90% size of the plot */
  height: calc(90% - 50px); /* Adjust according to the heading height */
  overflow: hidden;
}

#svg-viewer-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
