body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

form {
    margin: 20px;
}

input, button {
    margin: 5px;
}


.result-table{
    margin: 0 auto; /* This centers the element horizontally */
    width: fit-content; /* Adjusts the width of the element based on its content */
}


.instructions {
  margin: 40px;
  text-align: left;
  font-size: 1.0em;
  text-align: center
}